fastapi
httpx
opentelemetry-distro

# opentelemetry-bootstrap --action requirements
opentelemetry-instrumentation-asyncio
opentelemetry-instrumentation-dbapi
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-sqlite3
opentelemetry-instrumentation-threading
opentelemetry-instrumentation-urllib
opentelemetry-instrumentation-wsgi
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-tortoiseorm
opentelemetry-instrumentation-urllib3